//- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300")
//- script(async src="/assets/js/all.js")


footer.footer

    .container

        .footer__wrap

            .footer__copyright COPYRIGHT
            
            .footer__text FOOTER 
