doctype html
block config

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Gulp - #{config_pageTitle}
    link(rel="stylesheet" href="/assets/css/app.css")
    link(rel="stylesheet" href=`/assets/css/pages/${config_cssModule}.css`)
