extends templates/_default

block config

  - var config_pageTitle = "About";

  - var config_cssModule = "index";

block content

  main(class='main' class='clearfix')

  section.section

  .container

  h1.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, consequatur.

  h2.section__info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, id?

  .wrapper

  div(class="c" class="c1")

  div(class="c" class="c2")

  div(class="c" class="c3")

  div(class="c" class="c4")  

 
