extends templates/_default

block config

  - var config_pageTitle = "Home";

  - var config_cssModule = "index";

block content

  main(class="main" class="clearfix")

  section.section
  
  .container

  .section__wrap SECTION

  aside.aside

  .container

  .aside__wrap ASIDE

  
