//- extends templates/_default

extends templates/_login_without_foot

block config

  - var config_pageTitle = "Login";

  - var config_cssModule = "index";

block content

  .container

  h1.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, quidem.
  
  form(action="")

input(type="text")

input(type="button",value="click me!")

  p.section__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ipsum?

 
