@import "../_includes";
body {
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s linear;
}

.container {
    font: {
        size: 8rem;
        weight: 100;
    }
}

.footer__wrap {
    display: block;
    margin-top: 3%;
    font: {
        size: 3rem;
        weight: 300;
    }
}

.footer__copyright {
    color: black
}

.footer__text {
    color: red
}